/receiver-pico/build
/receiver-pico/build-pico/
/receiver-pico/build-pico_w/
/receiver-pico/build-pico2/
/receiver-pico/build-pico2_w/
/receiver-pico/artifacts/
/transmitter-ble-web/build
/transmitter-ble-web/node_modules
/transmitter-ble-web/package-lock.json
/transmitter-ble-web/package.json
/transmitter-ble-web/package.json